page{
  height: 100%;
  background: #fff;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.text-over{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.w100{
	width: 100%;
}